{% extends "base.html" %} 

{% block titulo %}
   Detalle del departamento 
{% endblock %} 

{% block contenido %}
  <section class="contenido">
    <h2>Datos del departamento</h2>
  {% if departamento %}
    <ul class="card">
      <li>{{ departamento.nombre}}</li>
      <li>{{ departamento.telefono}}</li>
      <li>
        <a href="{% url 'empleados' departamento.id %}"> Ver empleados </a>
      </li>
    </ul>
  {% else %}
    <p>No existe este departamento.</p>
  {% endif %} 
  </section>

{% endblock %}
